@model IEnumerable<applicationTirelire.Models.Produit>

@{
    ViewBag.Title = "Galerie";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

    @************ A METTRE DANS UN PARTIAL*@ 

    <div class="col-md-8 Galerie" style="margin:0">
        @if (ViewBag.Provenance != "Cat")
        {
            <h3 class="text-center">Galerie</h3>
        }

        @Html.Partial("_AffichProd");


    </div>

    @if (ViewBag.Provenance != "Cat")
    {
        <div class="col-md-3 couleur">
            @Html.Action("_Topp", "Produit");
        </div>
    }

