
body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin:10px;
}
/*footer{
    padding:30px;
}*/
.pannier {
    height: 90%;
    border: solid blue 2px;
    margin: 10px;
}

.tot {
    margin-right: 30px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
th {
    font-size: 14px;
    text-align: center;
    width: 10px;
}
td {
    font-size: 12px;
    text-align: center;
    margin:auto;
    width: 10px;
}
tr {
    text-align: justify;
    width: 10px;
}
.Galerie {
    background: linear-gradient(#e8f9fc,white);
    padding: 5px;
    border-radius: 3px 4px;
}
.couleur {
    background: radial-gradient(white,#e8f9fc,white);
    padding: 10px;
    border-radius: 5px 4px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#totpannier{
    position:fixed;
    bottom:0;
}


.card {
    border: 1px solid blue;
}

.card-text {
    font-family: Rage;
    font-size: 35px;
}



.image{
    padding:5px;
}
.Categ {
    background: none;
    padding: 10px;
    border-radius: 3px 4px;
}
.flip-box {
    background-color: transparent;
    width: 350px;
    padding:5px;
    height: 500px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin:auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background : linear-gradient(rgba(197, 246, 248,0.8),rgba(253, 242, 215,0.4));
    color: black;
    font-size:25px;
}

.flip-box-back {
    background-color:darkgrey;
    color: white;
    font-size: 20px;
    transform: rotateY(180deg);
}

.list{
    padding:10px;
    margin-left:5px;
}